body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Darker background */
    padding: 20px;
    text-align: center;
    color: #b3b3b3; /* Lighter text for better readability */
}

.button, a {
    display: inline-block;
    background-color: #3498db; /* Changed to a darker blue */
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover, a:hover {
    background-color: #2980b9; /* Darker shade for hover state */
}

table {
    margin-top: 20px;
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
    border: 1px solid #333; /* Darker border color */
    text-align: left;
}

th {
    background-color: #262626; /* Darker header background */
}

td {
    background-color: #1a1a1a; /* Matching body background */
}

.form-row {
    margin-bottom: 15px;
}

input[type="submit"], input[type="text"], select {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #333; /* Darker border color */
    background-color: #333; /* Darker input background */
    color: #fff; /* Light text for visibility */
}

input[type="submit"] {
    background-color: #3498db; /* Match button colors */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9; /* Darker shade on hover */
}

.delete-button {
    background-color: #e74c3c; /* Adjusted to a darker red */
}

.edit-button {
    background-color: #8e44ad; /* Changed to a purple for contrast */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #9b59b6; /* Darker shade on hover */
}
