/* Royal Blue and Peach Theme */
body {
    font-family: Arial, sans-serif;
    background-color: #00539C; /* Royal Blue background */
    padding: 20px;
    text-align: center;
    color: #EEA47F; /* Peach text color */
}

.edit-form table {
    margin: auto;
    background-color: #3E88C1; /* Slightly darker Royal Blue background */
    padding: 10px;
    border-radius: 5px;
}

.edit-form td {
    padding: 5px;
}

.edit-form input[type="text"], .edit-form input[type="submit"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.edit-form input[type="submit"] {
    background-color: #FF6B35; /* Peach submit button */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-form input[type="submit"]:hover {
    background-color: #D25627; /* Darker Peach on hover */
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #3E88C1; /* Slightly darker Royal Blue background for table rows */
}

th {
    background-color: #00539C; /* Royal Blue background for table headers */
}

form button {
    background-color: #FF6B35; /* Peach button */
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #D25627; /* Darker Peach on hover */
}

.button, a {
    display: inline-block;
    background-color: #FF6B35; /* Peach button */
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover, a:hover {
    background-color: #D25627; /* Darker Peach on hover */
}

/* Red delete button styling */
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: darkred;
}

/* Red print button styling */
.print-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.print-button:hover {
    background-color: darkred;
}
/* Existing styles... */

/* Styles for Chart Containers */
.chart-container {
    width: 600px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    margin: auto; /* Center the chart on the page */
    margin-top: 20px; /* Space above the chart container */
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

/* You might want to add additional styling specific to your charts here */

